.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-image: url("../img/sketch.png");
  padding-top: 36px;
}
body  > footer {
  background-image: url("../img/footer-bg.png");
  color: #e6e1da;
  min-height: 182px;
  padding-top: 25px;
  margin-top: 45px;
}
body  > footer h4 {
  color: #b94a25;
}
body  > footer a {
  color: #f89406;
}
body  > footer li {
  margin-bottom: 10px;
  display: inline;
}
.site-header {
  position: relative;
  padding: 40px 0;
  color: #e6e1da;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
  background: #b94a25;
  background-color: #c67605;
  background-image: -moz-linear-gradient(left, #b94a25, #c67605);
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#b94a25), to(#c67605));
  background-image: -webkit-linear-gradient(left, #b94a25, #c67605);
  background-image: -o-linear-gradient(left, #b94a25, #c67605);
  background-image: linear-gradient(to right, #b94a25, #c67605);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb94a25', endColorstr='#ffc67605', GradientType=1);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#020031', endColorstr='#6d3353', GradientType=1);
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
  margin-bottom: 45px;
}
.site-header::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/swirl.png) repeat center center;
  opacity: .2;
}
#site-navigation .navbar-inner {
  background: url(../img/header-bg.png) repeat-x left top;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#site-navigation .active > a {
  background-color: transparent;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.9);
}
#social-follow .btn-large {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  font-size: 16px;
  color: #e6e1da;
  margin-bottom: 7px;
  margin-right: 7px;
}
#social-follow .btn-large [class^="icon-"] {
  margin-top: 4px;
  width: 21px;
}
#page-promo {
  margin-bottom: 75px;
}
article {
  margin-bottom: 70px;
}
article header {
  margin-bottom: 10px;
  border-bottom: 1px dashed #aca9a6;
}
article header h1 a {
  color: #262625;
}
article header p {
  margin-top: -10px;
}
article  > h1 {
  font-size: 30px;
  line-height: 35px;
  margin-top: 35px;
}
article  > h2 {
  font-size: 20px;
  line-height: 25px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.label a,
.badge a {
  color: #e6e1da;
  font-weight: normal;
}
p .small {
  font-size: 10px;
  padding-bottom: 2px;
}
.label-category {
  background-color: #0f5ca1;
}
.crop {
  width: 130px;
  height: 130px;
  background-position: center center;
}
.well {
  padding: 14px;
}
.well  > .thumbnails {
  margin-left: -13px;
}
.well  > .thumbnails  > li {
  margin-left: 13px;
}
