[submodule "vendor/bootstrap"]
	path = vendor/bootstrap
	url = git@github.com:bendoerr/bootstrap.git
[submodule "vendor/Font-Awesome"]
	path = vendor/Font-Awesome
	url = git://github.com/FortAwesome/Font-Awesome.git
[submodule "vendor/lightbox2"]
	path = vendor/lightbox2
	url = git@github.com:bendoerr/lightbox2.git
