<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-10501590-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.5.1.min.js">\x3C/script>')</script>
<!-- Scripts -->
<script src="{{ site.baseurl }}js/plugins.js"></script>
<script src="{{ site.baseurl }}js/script.js"></script>
<script src="{{ site.baseurl }}js/libs/Hyphenator.js"></script>
<script>
Hyphenator.addExceptions('en','bendoerr.me');
Hyphenator.run();
</script>

<!--[if (lt IE 9) & (!IEMobile)]>
<script src="{{ site.url }}/js/libs/DOMAssistantCompressed-2.8.js"></script>
<script src="{{ site.url }}/js/libs/selectivizr-1.0.1.js"></script>
<script src="{{ site.url }}/js/libs/respond.min.js"></script>
<![endif]-->

<noscript>Your browser does not support JavaScript!</noscript>