
      <!-- ================================================================ -->
      <!-- = Category Promotion =========================================== -->
      <!-- ================================================================ -->
      <section id="page-promo" class="row">
        <div class="span3 offset1">
          <img src="/img/HaskellStyleLogo.png" class="hidden-phone" alt="Haskell Stylized Logo">
          <h3>Learning Haskell</h3>
          <p>I started learning Haskell at the start of Summer '12 since I failed
          miserable to understand Scala earlier. Haskell has been a great adventure
          which I've taken at a leisurely pace.</p>
          <p>Follow along as I learn more about Monads and maybe even Arrows.</p>
          <a href="/posts/category/haskell.html" class="btn btn-primary">Haskell Category</a>
        </div>
        <div class="span3">
          <img src="/img/EverydayJava.png" class="hidden-phone" alt="Java Coffee Stained Logo">
          <h3>Everyday Java</h3>
          <p>Most days I can be found deep in some JVM based code, from Groovy and
          Java, sometimes Scala and maybe one day Closure. I've been crafting on the
          JVM since I began programming.</p>
          <p>I'll share the tips and tricks that I discover everyday.</p>
          <a href="/posts/category/java.html" class="btn btn-primary">JVM Languages</a>
        </div>
        <div class="span3">
          <img src="./img/Gardening.png" class="hidden-phone" alt="Leaf and Question Logo">
          <h3>Gardening</h3>
          <p>My non-technical passion is Gardening. I started keeping a Garden when I
          moved to Virgina after college. If you haven't succeeded with a garden
          before, don't worry nighter have I.</p>
          <p>Watch as I fail, fail some more, and maybe succeed growing something.</p>
          <a href="/posts/category/gardening.html" class="btn btn-primary">Garden Knowledge</a>
        </div>
      </section>

      <div id="page-body" class="row">

        <div id="page-content" class="span9">
          $posts$
        </div>

        <!-- ============================================================== -->
        <!-- = Sidebar ==================================================== -->
        <!-- ============================================================== -->
        <div id="page-sidebar" class="span3">
          <section id="about">
            <h2>Who are you?</h2>
            <img src="http://www.gravatar.com/avatar/9114304b96acd7b2bd88275eaccdbdbf?s=140"
                class="img-circle" style="margin-left: 20px;margin-bottom: 15px;"
                alt="Picture of my Beautiful Self">
            <p>I am a self titled "Software Craftsman" which basically means "I
            care".  Professionally I've done work on emissions tracking and
            trading systems for both the US and Australian governments. Now I
            am working working on solving tough integration problems in
            healthcare.</p>
            <a href="/about.html" class="pull-right">Find out more.</a>
            <p>I am Ben Doerr.</p>
          </section>
          <section id="recent_posts">
          <h2>Show me more!</h2>
          <ul>
            <li><a href="#">This was a post</a></li>
            <li><a href="#">About this and that.</a></li>
          </ul>
          </section>
        </div>

    </div>
