
        <!-- ============================================================== -->
        <!-- = Article Short ============================================== -->
        <!-- ============================================================== -->
        <article>
          <header>
            <h1><a href="$url$">$title$</a></h1>
            <p class="category pull-right"><span class="label label-info $category$">$postcategory$</span></p>
            <p><time datatime="$xmldate$" pubdate>$date$</time></p>
           </header>

          $teaser$

          <footer>
            <a href="$url$" class="btn btn-inverse btn-small">Read More</a>
          </footer>
        </article>

