
        <!-- ============================================================== -->
        <!-- = Article Post =============================================== -->
        <!-- ============================================================== -->
        <article>
          <header>
            <h1><a href="$url$">$title$</a></h1>
            <p class="category pull-right"><span class="label label-category $category$">$postcategory$</span></p>
            <p><i class="icon-calendar"></i> <time datatime="$xmldate$" pubdate>$date$</time></p>
          </header>

          $body$

          <footer>
            <p class="tags pull-right"><i class="icon-tags"></i> $posttags$</p>
            <p class="signoff"><i class="icon-pencil"></i> $author$</p>

            <p class="social">
              <div data-href="$url$"
                  class="g-plus" data-action="share" data-annotation="bubble"></div>

              <a data-url="$url$" data-text="Post Title" data-via="bendoerr"
                  href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
            </p>

            <div id="comments" class="comments">
              <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_developer = 1; // developer mode is on
                    var disqus_shortname = 'bendoerrme';
                    var disqus_identifier = '$url$';
                    var disqus_title = '$title$';

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </div>
          </footer>
        </article>
